// typefaces
@font-face {
    font-family: 'MNKY Banana Grotesk';
    src: url('/fonts/MNKYBananaGroteskTRIAL-Medium.otf') format('otf');
    font-weight: 500;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'MNKY Banana Grotesk';
    src: url('/fonts/MNKYBananaGroteskTRIAL-Regular.otf') format('otf');
    font-weight: 400;
    font-display: swap;
  }

// color
$bg-color: #fafaf5;

// text colors
$color-ink: #43413A;
$color-ink-primary: #282726;
$color-ink-subtle: #7d7976;

// breakpoints
$breakpoint-md: 768px;

// size
$size-xxs: 4px;
$size-xs: 8px;
$size-sm: 12px;
$size-md: 16px;
$size-lg: 24px;
$size-xl: 32px;
$size-xxl: 40px;
$size-xxxl: 48px;
$size-xxxxl: 64px;

// typography
$font-sans: 'MNKY Banana Grotesk', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
$font-weight-normal: 400;
$font-weight-medium: 500;
$line-height: 1.5;