@use 'variables' as *;

// Reset
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-sans;
  font-weight: $font-weight-normal;
  line-height: 1.5;
  color: $text-color;
  background: $bg-color;
}

// Basic responsive container
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
} 