@use 'variables' as *;

// reset
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

// base styles
body {
  font-family: var(--font-sans);
  font-weight: var(--font-weight-normal);
  letter-spacing: var(--letter-spacing);
  line-height: var(--line-height);
  color: var(--color-ink);
  background: var(--bg-color);
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
}

html {
    scroll-behavior: smooth;
}

// Main content area
main {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--size-xxxxl);
}

section {
  scroll-margin-top: var(--size-xxl);
  width: 100%;
}

a{
  color: var(--color-ink-subtle);
  text-decoration-line: underline;
  text-decoration-style: dotted;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: 10%;
  text-underline-offset: auto;
  text-underline-position: from-font;
}

h1, h2, h3, h4 {
  line-height: inherit;
  font-size: inherit;
  font-weight: inherit;
}

h1, h2 {
  color: var(--color-ink-primary);
  font-weight: var(--font-weight-medium);
}

// Side navigation
.side-nav {
  position: fixed;
  top: var(--size-xxl);
  left: var(--size-xxl);
  
  @media (max-width: $breakpoint-md) {
    display: none;
  }

  nav {
    ul {
      list-style: none;
      
      li {
        margin-bottom: var(--size-sm);
        position: relative;
        display: flex;
        align-items: center;
        gap: 4px;
        
        a {
          color: var(--color-ink);
          text-decoration: none;

          &:hover {
            color: var(--color-ink-primary);
          }

          &:target,
          &.active {
            color: var(--color-ink-primary);
            font-weight: var(--font-weight-medium);

            &::before {
              content: "";
              width: 6px;
              height: 6px;
              background-color: var(--color-ink-subtle);
              margin-right: 4px;
              display: inline-block;
            }
          }
        }
      }
    }
  }
} 