---
---
<section id="education">
    <h2><span>Education</span></h2>
    <hgroup>
        <h3>B.S. in Digital Arts & Sciences</h3>
        <h3>Minor in Business Administration</h3>
        <p class="label">Clarkson University</p>
    </hgroup>