---
---
<section id="experience">
    <h2><span>Experience</span></h2>
    <div class="experience-entry">
        <div class="label">
            <time datetime="2017">2022</time> – Present
        </div>
        <hgroup>
            <h3>Contract Designer</h3>
            <p class="label"><a href="https://universal.xyz">Universal</a></p>
        </hgroup>
    </div>
    <div class="experience-entry">
        <div class="label">
            <time datetime="2017">2017</time> – Present
        </div>
        <hgroup>
            <h3>Lead Product Designer, Ad Platforms</h3>
            <h3>Lead Product Designer, Design Systems</h3>
            <h3>Senior UI Designer, Insights</h3>
            <p class="label">84.51°</p>
        </hgroup>
    </div>
    <div class="experience-entry">
        <div class="label">
            <time datetime="2016">2016</time> – <time datetime="2017">2017</time>
        </div>
        <hgroup>
            <h3>Web Designer</h3>
            <p class="label">Clubessential</p>
        </hgroup>
    </div>
    <div class="experience-entry">
        <div class="label">
            <time datetime="2014">2014</time> – <time datetime="2016">2016</time>
        </div>
        <hgroup>
            <h3>Brand Designer</h3>
            <p class="label">UnitedHealthcare</p>
        </hgroup>
    </div>
</section>

<style lang="scss">
  .experience-entry {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: start/end;

    .label {
      grid-column: 1;
    }

    hgroup {
      grid-column: 2 / span 3;
    }
  }
</style>