---
---
<section id="intro">
    <div class="content">
        <p>Hey there, I'm Andrew—husband, dad, trail runner, designer. Currently building analytics platforms and leading design systems at <a href="https://8451.com" target="_blank">84.51°</a> by day, while exploring the intersection of crypto indexes at <a href="https://alongside.xyz" target="_blank">Alongside</a> by night.</p>
        <p>I haven't won awards, but I've shipped digital products used by thousands, scaled design systems and helped build brands over the past decade. </p>
        <p>Working with great people fuels me, and I'm here to leave the world better than I found it.</p>
    </div>
  </section>