---
---
<section id="intro">
    <div class="content">
        <p>Hey there, I'm Andrew—husband, dad, trail runner, Parks lover, designer, based in New Mexico. Currently shipping ad platforms and leading design systems at <a href="https://8451.com" target="_blank">84.51°</a> by day, while building a wrapped asset protocol at <a href="https://universal.xyz" target="_blank">Universal</a> by night.</p>
        <p>Over the past decade, I've focused on shipping digital products used by thousands, scaling design systems, and building brands. That same passion and curiosity for tinkering extends beyond work; I'm just as excited about the little design projects I get to tackle at home with my family. I'm a multi-disciplinary designer, in the truest sense of the word.</p>
        <p>I believe in empathy-driven design built through collaboration with teams that care deeply about the people using their products. Working with great people fuels me, and I'm here to leave the world better than I found it.</p>
    </div>
  </section>