---
---
<section id="now">
    <h2>Now</h2>
    <ul>
        <li>Cherishing every moment with my partner in life, Seneca, and my son, Thor</li>
        <li>Dreaming up all sorts of new recipes with unique ingredients... Pumpkin bushi, anyone?</li>
        <li>Falling in love with design and code all over again</li>
    </ul>
  </section>