---
import Modal from '../../components/Modal.astro';
import Icon from '../../components/Icon.astro';
import ImageFamily from '../../assets/index/images/family.jpg';
import ImageBrochures from '../../assets/index/images/nationalparks.png';
import ImageHip from '../../assets/index/images/hip.jpg';
---

<section id="now">
    <h2><span>Now</span></h2>
    <div class="now-list">
        <div class="now-item">
            <div class="item-label">                
                <Icon name="chevron-right" color="var(--color-ink-subtle)" />
                <p>Cherishing every moment with my growing <a class="modal-trigger" data-modal-id="family" tabindex="0">family</a>; my wife, Seneca, my son, Thor, and our new addition, a baby girl, due in late December</p>
            </div>
            <Modal 
            id="family"
            imageUrl={ImageFamily} 
            imageAlt="A photo depicting myself holding a baby onesie, next to my wife, Seneca, while she holds our son, Thor" 
            />
        </div>
        <div class="now-item">
            <div class="item-label">
                <Icon name="chevron-right" color="var(--color-ink-subtle)" />
                <p>Living as a "cyborg" with some <a class="modal-trigger" data-modal-id="hip" tabindex="0">hardware</a> as I heal a broken hip socket. Targeting to be back on the trails in 2026</p>
            </div>
            <Modal 
            id="hip"
            imageUrl={ImageHip} 
            imageAlt="A photo depicting my acetabular fracture and the hardware used to fix it" 
            />
        </div>
        <div class="now-item">
            <div class="item-label">
                <Icon name="chevron-right" color="var(--color-ink-subtle)" />
                <p>Dreaming up all sorts of new recipes with unique ingredients... Pumpkin bushi, anyone?</p>
            </div>
        </div>
        <div class="now-item">
            <div class="item-label">
                <Icon name="chevron-right" color="var(--color-ink-subtle)" />
                <p>Collecting and digitizing vintage <a class="modal-trigger" data-modal-id="brochures" tabindex="0">National Park brochures</a></p>
            </div>
            <Modal 
            id="brochures"
            imageUrl={ImageBrochures} 
            imageAlt="A small collection of vintage National Park brochures" 
            />
        </div>
        <div class="now-item">
            <div class="item-label">
                <Icon name="chevron-right" color="var(--color-ink-subtle)" />
                <p>Falling in love with code again; I built this from scratch</p>
            </div>
        </div>
    </div>
</section>

<style>
    .now-list {
        display: flex;
        flex-direction: column;
        gap: var(--size-sm);
    }

    .now-item {
        display: flex;
        flex-direction: column;
        gap: var(--size-sm);
    }

    .item-label {
        display: flex;
        align-items: flex-start;
        gap: var(--size-sm);
    }

    .item-label :global(svg) {
        position: relative;
        top: 2px;
    }
</style>