---
---
<section id="now">
    <h2><span>Now</span></h2>
    <ul>
        <li>Cherishing every moment with my wife, Seneca, and my son, Thor</li>
        <li>Dreaming up all sorts of new recipes with unique ingredients... Pumpkin bushi, anyone?</li>
        <li>Falling in love with code all over again</li>
        <li>Collecting vintage National Park brochures</li>
    </ul>
  </section>