---
---
<section id="work">
    <h2>Work</h2>
    <div class="work-entry">
        <div class="label">
            <time datetime="2021">2021</time> – Present
        </div>
        <hgroup>
            <h3>Lead Product Designer, Design Systems</h3>
            <p class="label">84.51°</p>
        </hgroup>
    </div>
    <div class="work-entry">
        <div class="label">
            <time datetime="2017">2017</time> – <time datetime="2021">2021</time>
        </div>
        <hgroup>
            <h3>Lead Product Designer, Insights</h3>
            <p class="label">84.51°</p>
        </hgroup>
    </div>
    <div class="work-entry">
        <div class="label">
            <time datetime="2016">2016</time> – <time datetime="2017">2017</time>
        </div>
        <hgroup>
            <h3>Web Designer</h3>
            <p class="label">Clubessential</p>
        </hgroup>
    </div>
    <div class="work-entry">
        <div class="label">
            <time datetime="2014">2014</time> – <time datetime="2016">2016</time>
        </div>
        <hgroup>
            <h3>Brand Designer</h3>
            <p class="label">UnitedHealthcare</p>
        </hgroup>
    </div>
</section>