---
import ProjectLayout from "../layouts/ProjectLayout.astro";
---

<ProjectLayout 
  title="Colophon"
  backNavigation={true}
  homeLinkText="Back"
>
<section>
  <p>My portfolio is the result of countless hours spent in <a href="https://code.visualstudio.com/">VS Code</a> and <a href="https://cursor.com/">Cursor</a>, with a teensy bit of work in <a href="https://www.figma.com/">Figma</a>. Truly though, there's nothing like designing in code—building this site from scratch allowed me to fall back in love with the process. It's not perfect, but it's mine.</p>
  
  <p>The type is set in <a href="https://mnkytype.com/banana-grotesk">MNKY Banana Grotesk</a> from Monkey Type—I really like the way the <strong>a</strong> sort of leans into the other glyphs.</p>
  
  <p>On the technical side, I built this with <a href="https://astro.build/">Astro</a>—on recommendation from my good friend, <a href="https://loganliffick.com/">Logan Liffick</a>. It's furnished with <a href="https://sass-lang.com/">SCSS</a> for styling and deployed on <a href="https://vercel.com/">Vercel</a>. No Tailwind here, but maybe someday.</p>
  
  <p>I'd be remiss if I didn't say this is very much a work in progress. I'm always looking for ways to improve—feel free to drop me feedback or suggestions.</p>

  <p>Genuinely, thanks for stopping by.</p>
</section>
</ProjectLayout>

<style>
  :global(.project-header .title-container .reading-time) {
    display: none !important;
  }
  
  :global(.project-main) {
    margin-top: var(--size-xxl) !important;
    gap: var(--size-xl) !important;
  }
</style> 