---
import BaseLayout from "../layouts/BaseLayout.astro";
import SideNav from "../components/SideNav.astro";
import Intro from "../pages/index/intro.astro";
import Now from "../pages/index/now.astro";
import Experience from "../pages/index/experience.astro";
import Projects from "../pages/index/projects.astro";
import Header from "../pages/index/header.astro";
---

<BaseLayout>
    <SideNav />
    <main>
        <Header />
        <Intro />
        <Now />
        <Experience />
        <Projects />
    </main>
</BaseLayout>

<style>
    .profile-image {
        border-radius: 50%;
        object-fit: cover;
    }

    .name-container {
      display: flex;
      align-items: baseline;
      gap: var(--size-xs);
    }

    .name-char {
      font-size: var(--font-size-sm);
      color: var(--color-ink-subtle);
    }
</style>