---
import BaseLayout from "../layouts/BaseLayout.astro";
import SideNav from "../components/SideNav.astro";
import Intro from "../pages/index/intro.astro";
import Now from "../pages/index/now.astro";
import Experience from "../pages/index/experience.astro";
import Projects from "../pages/index/projects.astro";
import { Image } from 'astro:assets';
import Avatar from '../assets/index/images/andrewwashuta.png';
---

<BaseLayout>
    <SideNav />
    <main>
        <header>
            <img 
                src={Avatar.src}
                alt="Andrew Washuta"
                class="profile-image"
                width={64}
                height={64}
            />
            <h1>Andrew Washuta</h1>
            <p>Product Designer</p>
        </header>
        <Intro />
        <Now />
        <Experience />
        <Projects />
    </main>
</BaseLayout>

<style>
    .profile-image {
        border-radius: 50%;
        object-fit: cover;
    }
</style>