---
import '../styles/global.scss'
---

<footer class="footer">
  <p>
    <a href="/colophon">Colophon</a><br />
    © 2025
  </p>
</footer>

<style lang="scss">
@use '../styles/global.scss' as *;

  .footer {
    font-size: var(--font-size-sm);
    color: var(--color-text-subtle);
    position: fixed;
    bottom: var(--size-xxl);
    left: var(--size-xxl);
    
    @include mobile {
      position: static;
      padding: var(--size-lg) var(--size-lg);
      margin: var(--size-xxl) auto 0;
      max-width: 700px;
      width: 100%;
    }
  }
</style> 