---
import '../styles/global.scss'
---

<footer class="footer">
  <div class="social-links">
    <a href="https://x.com/awashuta" target="_blank" rel="noopener noreferrer">Xwitter</a>
    <a href="https://www.linkedin.com/in/awashuta" target="_blank" rel="noopener noreferrer">LinkedIn</a>
    <a href="https://www.instagram.com/andrewwashuta" target="_blank" rel="noopener noreferrer">Instagram</a>
    <a href="mailto:hello@andrew.cv">Email</a>
  </div>
  <p>
    <a href="/colophon">Colophon</a><br />
    © 2025
  </p>
</footer>

<style lang="scss">
@use '../styles/global.scss' as *;

  .footer {
    max-width: calc(748px + var(--size-lg) * 2);
    font-size: var(--font-size-sm);
    color: var(--color-text-subtle);
    position: fixed;
    bottom: var(--size-xxl);
    left: var(--size-xxl);
    z-index: 10;
    
    @include mobile {
      position: static;
      padding: var(--size-lg);
      margin: var(--size-xxl) auto 0;
    }

    .social-links {
      margin-bottom: var(--size-sm);
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
  }
</style> 