---
import { getFootnoteNumber } from '../utils/footnotes';

interface Props {
  id: string;
}

const { id } = Astro.props;
const footnoteNumber = getFootnoteNumber(id);
---

<a href={`#footnote-${id}`} id={`footnote-ref-${id}`} class="footnote-ref" onclick="document.documentElement.style.scrollBehavior = 'smooth';">{footnoteNumber}</a>

<style>
  .footnote-ref {
    color: var(--color-ink-subtle);
    text-decoration: none;
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-xs);
    vertical-align: super;
    line-height: 0;

    &::before {
      content: "[";
    }

    &::after {
      content: "]";
    }

    &:hover {
      color: var(--color-accent-dark);
    }

    &:focus {
    background-color: var(--color-accent-light);
    color: var(--color-accent-dark) !important;
    border-radius: 2px;
  }
  }
</style> 