---
import { Image } from "astro:assets";
import wLogo from '../assets/w.svg'
import wLogoHover from '../assets/w-hover.svg'
import Footer from './Footer.astro'

interface Props {
  variant?: 'sidebar' | 'mobile';
}

const { variant = 'sidebar' } = Astro.props;
---

{variant === 'sidebar' && (
  <aside class="side-nav">
      <nav>
          <a href="#top" class="logo-container">
            <Image 
              src={wLogo} 
              alt="A cursive W logo" 
              height={24}
              class="w-logo"
            />
            <Image 
              src={wLogoHover} 
              alt="A cursive W logo" 
              height={24}
              class="w-logo hover"
            />
          </a>
          <ul>
              <li><a href="#intro">Intro</a></li>
              <li><a href="#now">Now</a></li>
              <li><a href="#experience">Experience</a></li>
              <li><a href="#projects">Projects</a></li>
              <!-- <li><a href="#photo">Photography</a></li> -->
              <!-- <li><a href="#fun">Fun</a></li> -->
              <!-- <li><a href="#misc">Misc</a></li> -->
          </ul>
      </nav>
  </aside>
)}

{variant === 'mobile' && (
  <nav class="mobile-nav">
      <a href="#intro">Intro</a>, <a href="#now">Now</a>, <a href="#experience">Experience</a>, <a href="#projects">Projects</a>
  </nav>
)}

<style>
 .side-nav {
  position: fixed;
  top: var(--size-xxl);
  left: var(--size-xxl);
  
  @media (max-width: 1000px) {
    display: none;
  }

  nav {
    ul {
      list-style: none;
      
      li {
        margin-bottom: var(--size-sm);
        position: relative;
        display: flex;
        align-items: center;
        gap: 4px;
        
        a {
          color: var(--color-ink);
          text-decoration: none;

          &:hover {
            color: var(--color-ink-primary);
          }
        }
      }
    }
  }

  .logo-container {
    display: flex;
    justify-content: left;
    align-items: left;
    margin-bottom: var(--size-lg);
    width: fit-content;
  }

  .logo-container:hover {
    .w-logo {
      opacity: 0;
      
      &.hover {
        opacity: 1;
      }
    }
  }

  .logo-container:active {
    transform: scale(0.92);
  }

  .w-logo {
    filter: drop-shadow(1px 1px 4px rgba(76, 76, 76, 0.16));
    transition: opacity 1s ease;

    &.hover {
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
    }
  }

}

.mobile-nav {
    display: none;
    
    @media (max-width: 1000px) {
        display: block;
        font-weight: var(--font-weight-medium);
        margin-top: var(--size-lg);
        margin-bottom: calc(-1 * var(--size-lg));
    }
}
</style> 