---
import { Image } from "astro:assets";
import wLogo from '../assets/w.svg'
---

<aside class="side-nav">
    <nav>
        <Image 
          src={wLogo} 
          alt="A cursive w" 
          height={24}
          class="w-logo"
        />
        <ul>
            <li><a href="#intro">Intro</a></li>
            <li><a href="#now">Now</a></li>
            <li><a href="#experience">Experience</a></li>
            <li><a href="#projects">Projects</a></li>
            <!-- <li><a href="#photo">Photography</a></li> -->
            <!-- <li><a href="#fun">Fun</a></li> -->
            <!-- <li><a href="#misc">Misc</a></li> -->
        </ul>
    </nav>

    <footer class="footer">
        <p>Typeset in MNKY Banana Grotesk</p>
        <p>© 2024</p>
    </footer>
</aside>

<style>
 .side-nav {
  position: fixed;
  top: var(--size-xxl);
  left: var(--size-xxl);
  
  @media (max-width: var(--breakpoint-md)) {
    display: none;
  }

  nav {
    ul {
      list-style: none;
      
      li {
        margin-bottom: var(--size-sm);
        position: relative;
        display: flex;
        align-items: center;
        gap: 4px;
        
        a {
          color: var(--color-ink);
          text-decoration: none;

          &:hover {
            color: var(--color-ink-primary);
          }
        }
      }
    }
  }

  .w-logo {
    margin-bottom: var(--size-lg);
    filter: drop-shadow(1px 1px 4px rgba(76, 76, 76, 0.16));
  }

    .footer {
        position: fixed;
        bottom: var(--size-xxl);
        left: var(--size-xxl);
        font-size: var(--font-size-sm);
        color: var(--color-text-subtle);
        z-index: var(--z-nav);
    }
</style> 